body {
  background-color: #f5f5f5 !important;
}

.md-main::before,
.md-main::after {
  display: none !important;
  content: none !important;
}

.md-main {
  background: none !important;
}

.md-header,
.md-sidebar {
  background-color: #ffffff !important;
  box-shadow: none !important;
}

.md-content__inner {
  background-color: #ffffff !important;
}
nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
nav a,
nav a:visited,
nav a:hover,
nav a:active {
  color: black !important;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
